<div id="<%= dom_id post %>" class="shadow rounded p-5">
  <p class="text-center">
    <strong>
      <%= post.id %>
    </strong>
  </p>
  <p>
    <strong>
      <%= post.title %>
    </strong>
  </p>
  <p>
    <small>
      <%= post.body %>
    </small>
  </p>
</div>
